
<!-- Панель навигации -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BaumFilms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3000/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/users/edit">Мой кабинет</a>
        </li>
      </ul>
      <form class="d-flex">
        <% if user_signed_in? %>
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "nav-link active" %>
        <% else %>
            <%= link_to 'Войти', new_user_session_path, class: "nav-link active" %>
        <% end %>
      </form>
    </div>
  </div>
</nav>

<div class="container film">
    <div class="row">
        <div class="col-3">
            <img src=<%= @film.big_poster %> class="card-img-top my-card-img-big" alt="...">
        </div>
        <div class="col-9 body-film">
                <h5 class="film-title"> <%= @film.name %></h5>
                
                <p class="film-text">Страны: 
                <% ActiveSupport::JSON.decode(@film.country).each do |one_country| %>
                <%= one_country['name_ru'] %>,
                <% end %>
                </p>
                <p class="film-text">Бюджет: <%= @film.budget %> </p>
                
                <p class="film-text">жанры: 
                <% ActiveSupport::JSON.decode(@film.genres).each do |genre| %>
                <% unless genre.is_a?(Array) %>
                    <%= genre['name_ru'] %>,
                <% else %>
                    жанров нет
                <% end %>
                <% end %>
                </p> 
                <p class="film-text">
                Рейтинг Baum_films: 
                <% unless @film.baum_rating.nil? %>
                <%= ActiveSupport::JSON.decode(@film.baum_rating)['rating'] %>
                <% else %>
                К данному фильму еще нет отзывов
                <% end %>
                </p>
                <p class="film-text">
                Рейтинг кинопоиск: 
                <%= @film.rating_kp%>
                </p>
                <p class="film-text">
                Количество просмотров на кинопоиск: 
                <%= @film.rating_kp_count%>
                </p>
                <p class="film-text">
                Рейтинг imdb: 
                <%= @film.rating_imdb %>
                </p>
                <p class="film-text">
                Количество просмотров на imdb: 
                <%= @film.rating_imdb_count %>
                </p>
                <p>
                    Возрастное ограничение
                    <%= @film.age_restriction%>+
                </p>
                <p><%= @film.description %></p>

                <h2>Отзывы</h2>
                <%= form_tag("http://localhost:3000/rating?id=#{@film.id}", :method => "post", id: "stars") do %>
                  <div class="rating-area">
                    <input class="star" type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>	
                    <input class="star" type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>    
                    <input class="star" type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>  
                    <input class="star" type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>    
                    <input class="star" type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
              <% end %>
                <% if  @film.comment.nil? %>
                 <p>Отзывов нет</p>
                    <% else %>
                     <% ActiveSupport::JSON.decode(@film.comment).each do |comm_array| %>
                        <% comm_array[1].each do |comm| %>
                          <div class='comment'>
                          <h5><%= comm['email'] %></h5>
                          <p><%= comm['comment'] %> </p>
                          </div>
                        <% end %>
                      <% end %>
                <% end %>
                <% if user_signed_in? %>
                  <%= form_tag("film?id=#{@film.id}", method: 'post') do %>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Оставить отзыв</label>
                      <%= text_area_tag(:comment, nil, rows: 3, class: "form-control") %>
                      <button type="submit" class="btn btn-primary back-btn">Отправить</button>
                    </div>
                  <% end %>
                <% end %>
                <a href=<%="/?filters_genres=#{params[:filters_genres]}&filters_countries=#{params[:filters_countries]}&filters_years=#{params[:filters_years]}&current_page=#{params[:current_page]}"%>, class="btn btn-primary">
                  Назад
                </a>
        </div>
    </div>
</div>
