<!-- Панель навигации -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BaumFilms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Жанры
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мой кабинет</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- фильтры -->

<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-3'>
            <div class="accordion my-accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Жанры
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
                        <div class="accordion-body my-accordion-body">
                            <% @genres_list.each do | genre | %>
                                <div class="form-check">
                                    <input class="form-check-input genres-class" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <%=  genre %>
                                    </label>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Год выпуска
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
                        <div class="accordion-body my-accordion-body">
                            <% @year_list.each do | film | %>
                                <div class="form-check">
                                    <input class="form-check-input years-class" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <%= film.year %>
                                    </label>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" 
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Страна
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionPanelsStayOpenExample">
                        <div class="accordion-body my-accordion-body">
                            <% @country_list.each do |country|%>
                            <div class="form-check my-form-check">
                                <input class="form-check-input countries-class" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <%= country %>
                                </label>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <a href="#" id="btn-acc" class="btn btn-primary btn-accordion">отфильтровать</a>
            </div>
        </div>

        <!-- Список фильмов -->

        <div class='col-9'>
            <div class='row justify-content-center' id="films">
                <% @films.each do | film | %>
                    <div class="card my-card" style="width: 18rem;">
                         <img src=<%= film.small_poster %> class="card-img-top my-card-img" alt="..."> 
                        <div class="card-body">
                            <h5 class="card-title"> <%= film.name %></h5>
                            
                            <p class="card-text">Страны: 
                            <% ActiveSupport::JSON.decode(film.country).each do |one_country| %>
                            <%= one_country['name_ru'] %>,
                            <% end %>
                            </p>
                            <p class="card-text">Бюджет: <%= film.budget %> </p>
                            
                            <p class="card-text">жанры: 
                            <% ActiveSupport::JSON.decode(film.genres).each do |genre| %>
                            <% unless genre.is_a?(Array) %>
                                <%= genre['name_ru'] %>,
                            <% else %>
                                жанров нет
                            <% end %>
                            <% end %>
                            </p> 
                            
                            <a href=<%="/films/film?id=#{film.id}"%> class="btn btn-primary">подробнее</a>  
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<footer id="footer"></footer>